[Desktop Entry]
Version=1.0
Name=Edge
GenericName=Edge Browser
Comment=Browse the Web
Exec=firefox -P edge -no-remote --name firefoxedge
Icon=edge-firefox
Terminal=false
Type=Application
StartupWMClass=firefoxedge
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;profile-manager-window;
X-Desktop-File-Install-Version=0.28

[Desktop Action new-window]
Name=Open a New Window
Exec=firefox -P edge -no-remote --name firefoxedge

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=firefox -P edge -no-remote --name firefoxedge --private-window

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=firefox --ProfileManager